[run]
#ignore all settings
omit =
    *settings.py
    *tests/*
    *migrations/*
    *urls.py
    *__init__*
    *admin.py
    *wsgi.py
    *manage.py
    *apps.py
    *env*
    *storage.py

[report]
precision = 2
