# Application

Django
psycopg2
psycopg2-binary
static3
gunicorn
dj-database-url
dj-static
python-decouple
django-widget-tweaks
django-extensions
django-storages
boto3
pytz

# Django Rest Framework

djangorestframework
itsdangerous
django-cors-headers

# Auditlog
-e git+https://github.com/cosmunsoftwares/django-auditlog#egg=django-auditlog

# Django Tests

django-test-without-migrations
ipython
