{% extends "base.html" %}

{% block content %}
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="d-flex align-items-center mt-5">
            <h1 class="text-warning" style="font-size: 5rem;">404</h1>
            <div class="ml-5">
              <h3><i class="fas fa-exclamation-triangle text-warning mr-3"></i>Oops! Página não encontrada.</h3>
              <p>
                Não foi possível encontrar a página que você estava procurando.
                Enquanto isso, você pode <a href="{% url 'core:home' %}">retornar para a página principal</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
